.git
.dev
.github
.vscode
**/.env
assets
README.md
third_party_licenses
**/node_modules
**/.next
**/.gradle
**/build
**/dist
minecraft/main/mod
minecraft/main/respack/**
!minecraft/main/respack/packs/
!minecraft/main/respack/packs/general-pack/
!minecraft/main/respack/packs/general-pack/assets/
!minecraft/main/respack/packs/general-pack/assets/general-pack/
!minecraft/main/respack/packs/general-pack/assets/general-pack/textures/
!minecraft/main/respack/packs/general-pack/assets/general-pack/textures/item/
!minecraft/main/respack/packs/general-pack/assets/general-pack/textures/item/wallet/
!minecraft/main/respack/packs/general-pack/assets/general-pack/textures/item/wallet/wallet-0.png
minecraft/minigames
services/api/data
services/web/public/assets
services/web/src
